.past-game {
  display: flex;
  justify-content: space-around;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.past-game-image {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 4px;
}

.winner-badge {
  border-radius: 28px;
  padding: 0 16px;
  font-size: 12px;
}

.game-details {
  text-align: center;
}