<div class="home-wrapper" *ngIf="user$ | async as user">
  <div class="user-info-wrapper mb-4 pt-4">
    <img class="avatar-img" [src]="user.photoURL" alt="" loading="lazy" />
    <div class="ml-2">
      <p class="font-sm transform">Welcome</p>
      <h2 class="font-md bold black">{{ user.displayName }}</h2>
    </div>
  </div>
  <app-past-games></app-past-games>
  <div style="padding-bottom: 40px">&nbsp;</div>
  <div class="floating-btn-wrapper">
    <button class="btn btn-primary btn-sm" routerLink="/new-game">
      New Game
    </button>
    <button class="btn btn-primary btn-sm" (click)="logout()">Log out</button>
  </div>
</div>
