<div class="avatar" *ngIf="user$ | async as user">
  <div>
    <img class="avatar-img" [src]="user.photoURL" alt="" loading="lazy" />
    <div>
      <p class="font-sm transform">Welcome</p>
      <h2 class="font-lg bold">{{ user.displayName }}</h2>
      <h5 class="font-sm transform bold">Previous</h5>
    </div>
    <ng-container> <app-past-games></app-past-games> </ng-container>
    <div style="padding-bottom: 74px">&nbsp;</div>
    <div class="floating-btn-wrapper">
      <button class="btn btn-primary btn-sm" routerLink="/new-game">
        New Game
      </button>
      <button class="btn btn-primary btn-sm" (click)="logout()">Log out</button>
    </div>
  </div>
</div>
