<div class="new-game-wrapper">
  <div class="avatar-wrapper w-100" *ngIf="user$ | async as user">
    <img
      class="avatar-img w-100 mb-4"
      [src]="user.photoURL"
      alt=""
      loading="lazy"
    />
    <h3 class="font-md">{{ user.displayName }}</h3>
  </div>
  <button class="btn close-btn btn-secondary my-2">vs</button>
  <input
    type="text"
    [formControl]="playerName"
    placeholder="Enter Player Name"
    required
    id="playerName"
  />
  <div
    *ngIf="playerName.invalid && (playerName.dirty || playerName.touched)"
    class="alert alert-danger"
  >
    <p *ngIf="playerName.errors && playerName.errors['required']">
      Please enter a player name.
    </p>
  </div>

  <p class="font-xs my-2 bold transform">or</p>
  <button class="btn btn-primary btn-md">Play against a bot</button>
  <div class="btn-wrapper">
    <button class="btn btn-primary btn-md" (click)="startPlaying()">
      Start Playing
    </button>
    <button class="btn close-btn btn-primary" routerLink="/home">
      <i class="fa fa-times light" aria-hidden="true"></i>
    </button>
  </div>
</div>
