<div class="pause-wrapper" *ngIf="user$ | async as user">
  <h5 class="font-sm transform bold pt-5">Active</h5>
  <div class="pause-image">
    <img src="assets/images/tic.png" alt="" width="360" />
  </div>
  <div class="now-playing">
    <p class="font-sm black">{{ user.displayName }}</p>
    <span> <button class="close-btn btn-secondary">vs</button></span>
    <p class="font-sm black">{{ player2 }}</p>
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary btn-md" routerLink="/active-game">
      Continue playing
    </button>
    <button class="btn close-btn btn-primary" routerLink="/new-game">
      <i class="fa fa-times light" aria-hidden="true"></i>
    </button>
  </div>
</div>
