<div class="game-wrapper" *ngIf="!winner">
  <div class="player-info pt-5">
    <p class="font-sm transform">Now playing</p>
    <h2 class="font-md bold black">{{ getCurrentPlayerName(player) }}</h2>
  </div>
  <div class="game-board">
    <div
      class="game-square"
      (click)="makeMove(i)"
      *ngFor="let value of squares; let i = index"
    >
      <button *ngIf="!value">{{ value }}</button>
      <button *ngIf="value === 'X'" style="color: #6b4eff">
        {{ value }}
      </button>
      <button *ngIf="value === 'O'">{{ value }}</button>
    </div>
  </div>

  <div class="btn-group">
    <button class="btn btn-primary btn-md" (click)="newGame()">
      Reset Game
    </button>
    <button class="btn close-btn btn-primary" routerLink="/pause-game">
      <i class="fa fa-times light" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="winner-wrapper" *ngIf="winner">
  <i class="fa fa-star-o icon mb-4" aria-hidden="true"></i>
  <h2 class="font-md bold mb-4 black">{{ getCurrentPlayerName(winner) }}</h2>
  <button class="btn btn-secondary btn-md transform bold font-md mb-5">
    Wins
  </button>
  <button class="btn btn-primary btn-md mb-5" (click)="newGame()">
    Rematch
  </button>
  <button class="btn close-btn btn-primary" routerLink="/new-game">
    <i class="fa fa-times light" aria-hidden="true"></i>
  </button>
</div>
