$primary-color: #fff;
$secondary-color: #000;
$font-family: 'Inter', 'sans-serif';

/* Global styles */
body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-family;
  font-size: 16px;
}

main {
  padding: 28px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-color;
}

.w-25 {
  width: 25%;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-fit-content {
  width: fit-content;
}

.w-fill {
  width: fill-available;
}

.m-1 {
  margin: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.p-1 {
  padding: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

.font-xs {
  font-size: 1rem;
}

.font-sm {
  font-size: 1.25rem;
}

.font-md {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2rem;
}

.font-xlg {
  font-size: 3.75rem;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.transform {
  text-transform: uppercase;
}

/* Links */
a {
  color: $secondary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  font-family: $font-family;
  letter-spacing: 0.025em;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  border-radius: 28px;
  border: 2px solid $secondary-color;
}

.btn-primary {
  background-color: transparent;
  color: $secondary-color;
}

.btn-primary:hover {
  background-color: darken($secondary-color, 10%);
  color: $primary-color;
}

.btn-secondary {
  background-color: $secondary-color;
  border: 2px solid transparent;
  color: $primary-color;
}

.btn-sm {
  width: 140px;
}

.btn-md {
  width: 228px;
}

.close-btn {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  padding: 0;

}

/* Forms */
input,
select,
textarea {
  border: 1px solid $secondary-color;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  width: 200px;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  opacity: 0.5;
}

input:focus,
select:focus,
textarea:focus {
  border-color: lighten($secondary-color, 30%);
  outline: none;
}

/* Images */


.avatar-img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}